#institutional-wrap {
	background-color: $body-bg;
}

#institutional {
	min-height: 340px;
	padding-bottom: 100px;
	
	.bullets {
		margin-top: 40px;

		li{
			margin-top: 20px;
		}
	}
}