<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="css/vendor/magnific-popup.css">
	<link rel="stylesheet" href="css/style.css">
	<!-- favicon -->
	<link rel="icon" href="favicon.ico">
	<title th:text="${store_name + '| Giỏ hàng'}"></title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
	<div id="shop-wrap">
		<section id="shop" class="right">
			<div class="sidebar-control"></div>
			<aside class="shop-sidebar checkout-cart">
				<svg class="svg-plus sidebar-control">
					<use xlink:href="#svg-plus"></use>
				</svg>
				<h3 class="title">Tổng chi phí giỏ hàng</h3>
				<div class="cart-total">
					<div class="subtotal">
						<h5>Tổng cộng</h5>
						<h5 th:text="${#numbers.formatDecimal(cart.totalPrice,0,'COMMA',0,'NONE')} + ' VND'"></h5>
					</div>
					<div class="subtotal">
						<h5>Ship hàng miễn phí</h5>
						<h5></h5>
					</div>
					<div class="total">
						<h5>Tổng đơn hàng</h5>
						<h5 th:text="${#numbers.formatDecimal(cart.totalPrice,0,'COMMA',0,'NONE')} + ' VND'"></h5>
					</div>
				</div>
				<a href="checkout.html" class="button">Thanh toán</a>
			</aside>
			<div class="shop-products shop-cart">
				<h3 class="title">Giỏ hàng</h3>
				<div th:replace="fragments/modals :: modals"></div>
				<div class="shopping-cart wishlist-cart">
					<div class="row header">
						<div class="cell">
							<h5>Chi tiết sản phẩm</h5>
						</div>
						<div class="cell">
							<h5>Đơn giá</h5>
						</div>
						<div class="cell">
							<h5>Số lượng</h5>
						</div>
						<div class="cell">
							<h5>Thành tiền</h5>
						</div>
						<div class="cell">
						</div>
					</div>
					<th:block th:each="cartItem : ${cart.cartItemList}">
						<div class="row">
							<div class="cell cart-item">
								<div class="product-picture">
									<figure class="liquid">
										<img th:src="${cartItem.itemDetail.item.imageUrls.get(0).url}">
									</figure>
								</div>
								<p class="highlighted" th:text="${cartItem.itemDetail.item.category.name}"></p>
								<h3 th:text="${cartItem.itemDetail.item.name}"></h3>
								<p th:text="${cartItem.itemDetail.item.shortDescription}"></p>
								<h6>Kích cỡ: <span th:text="${cartItem.itemDetail.size}"></span></h6>
							</div>
							<div class="cell">
								<p class="highlighted"
								   th:text="${#numbers.formatDecimal(cartItem.itemDetail.item.currentPrice,0,'COMMA',0,'NONE')}"></p>
							</div>
							<div class="cell">
								<p class="highlighted" th:text="${#numbers.formatDecimal(cartItem.quantity,0,0)}"></p>
							</div>
							<div class="cell">
								<p class="highlighted"
								   th:text="${#numbers.formatDecimal(cartItem.quantity * cartItem.itemDetail.item.currentPrice,0,'COMMA',0,'NONE')}"></p>
							</div>
							<div class="cell buttons small">
								<div class="actions">
									<a href="#compare-modal" th:value="${cartItem.itemDetail.item.itemId}"
									   class="button medium compare cmp-popup" data-effect="mfp-3d-unfold">
										<svg class="svg-compare">
											<use xlink:href="#svg-compare"></use>
										</svg>
									</a>

									<a href="#" th:href="${'/removeCart?item=' + cartItem.itemDetail.item.itemId}"
									   class="button medium no-stock remove-cart-btn">
										<svg class="svg-plus">
											<use xlink:href="#svg-plus"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</section>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

