<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<!-- 404 ERROR -->
<div id="error404-wrap">
	<section id="error404">
		<div class="error-description">
			<h3>Rất tiếc!</h3>
			<h3>Tính năng đang được xây dựng, bạn hãy quay lại sau</h3>
			<a href="index.html" class="button">Quay lại trang chủ</a>
		</div>

		<!-- ERROR PROMO -->
		<div class="error-promo">
			<div class="error-pin">
				<h4>OOpss!</h4>
			</div>
			<img src="images/smoke.png" alt="smoke">
		</div>
	</section>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>