<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="css/vendor/magnific-popup.css">
	<link rel="stylesheet" href="css/style.css">
	<!-- favicon -->
	<link rel="icon" href="favicon.ico">
    <title th:text="${store_name + '| Chi tiết sản phẩm'}"></title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/modals :: modals"></div>

	<div id="shop-wrap">
		<section id="shop" class="right expandible-sidebar">
			<div class="sidebar-control">
				<svg class="svg-gear">
					<use xlink:href="#svg-gear"></use>	
				</svg>
			</div>

			<div th:replace="fragments/shop_sidebar :: shop_sidebar(currentMenu=${'shop'})"></div>

			<div class="shop-products">
				<div class="product-quick-view full view">
					<div class="product-pictures">
						<div class="product-photo">
							<figure class="liquid">
								<img th:src="${currentItem.imageUrls.get(0).url}" alt="product-image">
							</figure>
						</div>
						<ul class="picture-views">
							<th:block th:each="imgUrl : ${currentItem.imageUrls}">
								<li th:class="${(currentItem.imageUrls.indexOf(imgUrl) == 0)?'selected':''}">
									<figure class="liquid">
										<img th:src="${imgUrl.url}" alt="picture-view">
									</figure>
								</li>
							</th:block>
						</ul>
					</div>
					<div class="product-description">
						<a th:href="'/shop.html?categories=' + ${currentItem.category.getCategoryId()} ">
							<p class="highlighted category" th:text="${currentItem.category.name}"></p>
						</a>
						<a href="#"><h6 th:text="${currentItem.name}"></h6></a>
						<ul class="rating big">
							<th:block th:each="i: ${#numbers.sequence(0, 4)}">
								<li th:class="${(currentItem.rating - 1 >= i)?'filled':''}">
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
								</li>
							</th:block>
						</ul>
						<p th:text="${currentItem.shortDescription}"></p>
						<p class="highlighted current"
						   th:text="${'VND ' + #numbers.formatDecimal(currentItem.currentPrice,0,'COMMA',0,'NONE')}"></p>
						<h5 class="stock">Tình trạng:
							<svg th:class="${currentItem.inStock?'svg-check':'svg-plus'}">
								<use th:href="${currentItem.inStock?'#svg-check':'#svg-plus'}"></use>
							</svg>
							<span th:class="${currentItem.inStock?'available':'not-available'}"
								  th:text="${(currentItem.inStock)?'Sẵn hàng':'Hết hàng'}"></span>
						</h5>
						<h5 th:if="${currentItem.inStock}">Chọn cỡ:</h5>
						<form class="westeros-form" th:if="${currentItem.inStock}">
							<th:block th:each="size : ${currentItem.listSize.split(',')}">
								<input th:id="${size + currentItem.itemId}" type="radio" name="size" th:value="${size}">
								<label th:for="${size + currentItem.itemId}"><span class="radio"><span></span></span>[[${size}]]</label>
							</th:block>
						</form>
						<div class="color-selection" th:if="${currentItem.inStock}">
							<h5>Màu sắc:</h5>
							<ul class="colorpicker">
								<li><span data-color="#008fbe"></span></li>
								<li><span data-color="#17ccac"></span></li>
								<li><span data-color="#4c4cab"></span></li>
								<li><span data-color="#252525"></span></li>
							</ul>
						</div>
						<div th:if="${currentItem.inStock}">
							<h5>Số lượng:</h5>
							<div class="counter">
								<div class="control left"></div>
								<div class="value">
									<h5>2</h5>
								</div>
								<div class="control right"></div>
							</div>
						</div>
						<div class="options">
							<a href="#compare-modal" class="button medium compare cmp-popup" th:value="${currentItem.itemId}" data-effect="mfp-3d-unfold">
								<svg class="svg-compare">
									<use xlink:href="#svg-compare"></use>	
								</svg>
							</a>
							<a href="#wishlist-modal" th:value="${currentItem.itemId}" class="button medium wishlist wishlist-popup">
								<svg class="svg-wishlist">
									<use xlink:href="#svg-wishlist"></use>	
								</svg>
							</a>
							<a href="#cart-modal"
							   th:value="${currentItem.itemId}"
							   th:class="'button ' + ${currentItem.inStock?'cart-add cart-popup':'no-stock'}">
								<svg class="svg-plus">
									<use xlink:href="#svg-plus"></use>
								</svg>
								<span th:text="${currentItem.inStock?'Thêm vào giỏ' : 'Hết hàng'}"
									  th:remove="tag"></span>
							</a>
						</div>
					</div>
				</div>
				<ul class="description-tab">
					<li>			
						<a href="#">Mô tả chi tiết</a>
						<article class="item">
							<p th:text="${currentItem.description}"></p>
						</article>
					</li>
					<li>			
						<a href="#" th:text="'Đánh giá (' + ${currentItem.comments.size()} + ${')'}">Reviews (2)</a>
						<article class="item multiple">
							<div class="sub-item rate">
								<ul class="rating large">
									<th:block th:each="i: ${#numbers.sequence(0, 4)}">
										<li th:class="${(currentItem.rating - 1 >= i)?'filled':''}">
											<svg class="svg-star">
												<use xlink:href="#svg-star"></use>
											</svg>
										</li>
									</th:block>
								</ul>
								<h5>Dựa trên [[${currentItem.comments.size()}]] lượt đánh giá</h5>
							</div>
							<th:block th:each="comment : ${currentItem.displayComments}">
								<div th:replace="fragments/comment_frag :: comment_frag"></div>
							</th:block>
							<div class="sub-item review-form">
								<h5>Viết bình luận - Đánh giá</h5>
								<div class="featured-form">
									<!--/*@thymesVar id="supportTicketFrm" type="edu.ptit.quynhhtn.form.ItemCommentFrm"*/-->
									<form class="westeros-form" action="#"
										  th:action="@{/submitComment}"
										  th:object="${itemCommentFrm}" method="post">
										<input type="hidden" id="itemId" name="itemId" th:value="${currentItem.itemId}">
										<div class="left">
											<label class="rl-label required">Tên hiển thị</label>
											<input type="text" th:field="*{fullName}" placeholder="Nhập tên hiển thị của bạn...">
										</div>
										<div class="right">
											<label class="rl-label">Tiêu đề</label>
											<input type="text" th:field="*{summary}" placeholder="Nhập tiêu đề ngắn gọn...">
										</div>
										<div>
											<label class="rl-label required">Nội dung</label>
											<textarea th:field="*{content}" placeholder="Nhập bình luận của bạn..."></textarea>
										</div>
										<input id="item-rating" type="hidden" th:field="*{rating}" value="5">
										<div class="left">
											<label class="rl-label required">Đánh giá</label>
											<ul class="rating large rater">
												<th:block th:each="i: ${#numbers.sequence(0, 4)}">
													<li class="filled">
														<svg class="svg-star">
															<use xlink:href="#svg-star"></use>
														</svg>
													</li>
												</th:block>
											</ul>
										</div>
										<button class="button" type="submit">Đăng bình luận</button>
									</form>
								</div>
							</div>
						</article>
					</li>
				</ul>

				<h3 class="title heading related-p">Sản phẩm liên quan</h3>
				<ul class="product-list grid">
					<th:block th:each="product : ${relatedItems}">
						<div th:replace="fragments/index_product_list_item :: product-list-item"></div>
					</th:block>
				</ul>
			</div>
		</section>
	</div>
	<!-- /SHOP -->

<div th:replace="fragments/footer :: footer"></div>
<script src="js/full-view.js"></script>
</body>
</html>

